
<mat-toolbar color="primary" class="toolbar">
    <span>Kanban</span>
    <span class="toolbar__spacer"></span>
    <nav class="toolbar__menu">
      <ul>
        <li>
          <button mat-icon-button class="toolbar__menu__icon favorite-icon" aria-label="Home option">
            <mat-icon>home</mat-icon>
          </button>
          <a href="#" routerLink="/home" routerLinkActive="active" class="toolbar__menu__text">
            <span> Home</span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn">
          <button mat-icon-button class="toolbar__menu__icon favorite-icon" aria-label="account option">
            <mat-icon>person</mat-icon>
          </button>
          <a href="#" routerLink="/signin" routerLinkActive="active" class="toolbar__menu__text" >
            <span> Connect</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <button mat-icon-button class="toolbar__menu__icon" aria-label="Board option">
            <mat-icon>note</mat-icon>
          </button>
          <a href="#" routerLink="/board" routerLinkActive="active" class="toolbar__menu__text"><span>
            Tableau</span>
          </a>

        </li>
      </ul>
    </nav>
  </mat-toolbar>
