<form class="form" [formGroup]="createBoard"  (ngSubmit)="onFormAdd(createBoard.value)" novalidate> 
    
    <header class="form__header">

        <h3 class="form__header__title">{{ formText }} un tableau</h3>
        <button class="form__header__close-button" mat-raised-button (click)="close()">
            <mat-icon aria-hidden="false" aria-label="close icon">close</mat-icon>
        </button>
    </header>
    
    <section class="form__fields"> 
  
      <mat-form-field class="form__fields__item" appearance="fill" color="primary">
        <mat-label>Nom tableau</mat-label>
        <textarea
            matInput
            formControlName="nom"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
            >
        </textarea>
        <mat-error>
          La description es <strong>requis</strong>
        </mat-error>
      </mat-form-field>
      
      <button
      class="form__fields__button"
      mat-raised-button
      color="primary"
      [disabled]="!createBoard.valid"
  >
  {{formText}}
  </button>   
 </section>
  </form> 
