<!--<div 
  class="task"
  id="task_{{task.id}}"
  [ngClass]="{'task--urgent': task.priority === 'urgent', 'task--moderate': task.priority === 'moderate', 'task--low': task.priority === 'low'}"
  >
-->
<div 
  class="task"
  id="task_{{task.id}}"
  
  >
  <h3 class="task__title">Tâche</h3>
  <p class="task__date"><strong>Date début:</strong> {{ task.date | date }} </p>
  <p class="task__date"><strong>Nombre de jour: </strong>{{task.temps}} </p>
  <p class="task__description">{{task.description}}</p>
  
  <button  matTooltip="Editer tache" matTooltipClass="custom-tooltip-blue" matTooltipPosition="above" mat-icon-button (click)="handleEditTask(task)">
    <mat-icon aria-label="icon-button to edit">edit</mat-icon>
  </button>
  <button  matTooltip="Supprimer tache" matTooltipPosition="above" mat-icon-button (click)="removeTask(task.id)">
    <mat-icon aria-label="icon-button to remove">delete</mat-icon>
  </button>
</div>
