<main class="home">
    <h1 class="home__title">Kanban</h1>
    <p>
      Dans notre travail quotidien, nous devons toujours
      effectuer différents types de tâches.
      Le fait de les classer par ordre de priorité
      et de les noter nous aide à mieux les gérer,
      à nous y attaquer beaucoup plus rapidement et
      à les réaliser.
    </p>
    <p>C'est pourquoi, dans ce tableau, nous vous invitons à organiser votre vie quotidienne.</p>
    <section class="home__task-list">
      <h2 class="home__task-list__title">Liste des tâches</h2>
      <div class="home__task-list__buttons">
        <button
          class="option-button"
          mat-button
          mat-raised-button
          (click)="getPrioritiesTask('urgent')"
        >
          <mat-icon aria-hidden="false"
                    aria-label="urgent icon">alarm
            </mat-icon> Urgentes
        </button>
        <button
          class="option-button"
          mat-button
          mat-raised-button
          (click)="getPrioritiesTask('moderate')"
        >
          <mat-icon aria-hidden="false" aria-label="medium icon">autorenew</mat-icon>Modérées
        </button>
        <button
          class="option-button"
          mat-button
          mat-raised-button
          (click)="getPrioritiesTask('low')"
        >
          <mat-icon aria-hidden="false" aria-label="medium icon">assignment_returned</mat-icon>Annulé
        </button>
      </div>
      <div class="home__task-list__container">
        <cdk-drop-list class="task" *ngFor="let task of taskList">
          <mat-task-header
            [ngClass]="{
              'task__header task__header--urgent': task.priority === 'urgent',
              'task__header task__header--moderate': task.priority === 'moderate',
              'task__header task__header--low': task.priority === 'low'
            }"
          >
            <cdk-drop-list class="task-title">
              <div class="task-title__icon">
                <mat-icon
                  aria-hidden="false"
                  aria-label="urgent icon"
                  *ngIf="task.priority === 'urgent'"
                  >alarm</mat-icon
                >
                <mat-icon aria-hidden="false"
                          aria-label="medium icon"
                          *ngIf="task.priority === 'moderate'">autorenew</mat-icon>
                <mat-icon aria-hidden="false"
                          aria-label="medium icon"
                          *ngIf="task.priority === 'low'">autorenew</mat-icon>
                <span>Tâche</span>
              </div>
            </cdk-drop-list>
            <cdk-drop-list class="task__task-list__subtitle"
              ><strong>Date Limite:</strong>
              {{ task.date | date }}</cdk-drop-list
            >
          </mat-task-header>
          <cdk-drop-list class="task__content">
            <p class="task__task-list__description">
              {{ task.description }}
            </p>
          </cdk-drop-list>
        </cdk-drop-list>
        <div class="home__task-list__message" *ngIf="taskList?.length == 0">
          <p class="text">Aucun élément à afficher</p>
        </div>
      </div>
    </section>
  </main>
  
